Repository lietu/saatja: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, export-openapi-spec

pytest:
  name: Run unit tests
  entry: poetry run pytest
  language: system
  pass_filenames: false

export-openapi-spec:
  name: Export OpenAPI spec
  entry: poetry run export-saatja-openapi
  language: system
  pass_filenames: false

Improved pre-commit messages
  .pre-commit-config.yaml
Due: none

GRPC does not work on pypy I guess
  .travis.yml
Due: none

Hopefully setting up OpenAPI + ReDoc to GH Pages via Travis
  .travis.yml
  openapi/index.html
  openapi/openapi.json
  saatja/main.py
Due: pytest, export-openapi-spec

Deploy lietu/saatja to github.com/lietu/saatja.git:gh-pages
  index.html
  openapi.json
Due: none

Tweaking ignore files and pre-commit configuration
  .dockerignore
  .pre-commit-config.yaml
Due: none

Fixing codecov link
  README.rst
Due: none

Adding link to deployed OpenAPI docs
  README.rst
  openapi-docs.jpg
Due: none

Updated OpenAPI application title
  openapi-docs.jpg
  openapi/openapi.json
  saatja/main.py
Due: pytest, export-openapi-spec

Deploy lietu/saatja to github.com/lietu/saatja.git:gh-pages
  openapi.json
Due: none

Getting near usable state.
  openapi/openapi.json
  poetry.lock
  pyproject.toml
  saatja/api/models.py
  saatja/api/scheduler.py
  saatja/api/task.py
  saatja/conftest.py
  saatja/db/task.py
  saatja/db/tasks.py
  saatja/main.py
  saatja/request_dependencies.py
  saatja/tests/test_scheduler.py
  saatja/tests/test_task_api.py
Due: pytest, export-openapi-spec

Pointing Travis-CI link to correct domain
  README.rst
Due: none

Maybe fixing build
  docker/build-prepare.sh
Due: none

Better Google Cloud deployment information
  README.rst
  cloudbuild-saatja.yaml
Due: none

PIP + Poetry cache for Travis
  .travis.yml
Due: none

More comprehensive documentation
  README.rst
Due: none

Can actually make requests, scheduler authentication is not complete
  openapi/openapi.json
  saatja/api/scheduler.py
  saatja/db/task.py
  saatja/request_dependencies.py
  saatja/tests/test_scheduler.py
Due: pytest, export-openapi-spec

Implemented WEBHOOK_PREFIXES setting
  saatja/api/models.py
  saatja/main.py
  saatja/settings.py
  saatja/tests/test_scheduler.py
  saatja/tests/test_something.py
  saatja/tests/test_task_api.py
Due: pytest, export-openapi-spec

Making log format better for tests
  saatja/conftest.py
Due: pytest

Fixing travis configuration
  .travis.yml
Due: none

Removed accidental copy pasta from README
  README.rst
Due: none

Cleanup
  .gitignore
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  saatja/api/models.py
  saatja/db/task.py
  saatja/main.py
  saatja/request_dependencies.py
Due: pytest, export-openapi-spec

Logging optimized for Google Cloud
  README.rst
  saatja/app.py
  saatja/conftest.py
  saatja/log.py
  saatja/main.py
  saatja/settings.py
Due: pytest, export-openapi-spec

Un-ruining LOGURU_FORMAT environment variable
  saatja/log.py
Due: pytest

Included financial support information
  README.rst
Due: none

Path conditions:
  pytest: any of: \.py$
  export-openapi-spec: any of: (?x)^(
  saatja/api/.*|
  saatja/main.py|
  saatja/request_dependencies.py
)$

